version: 2

workflows:
  version: 2
  commit-build:
    jobs:
      - build
      - build-python27
      - build-python34
      - build-python35
  daily-build:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
      - build-python27
      - build-python34
      - build-python35
      - run-examples
      - run-examples-python27
      - run-examples-python34
      - run-examples-python35

jobs:
  build:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout

      - run: &install
          name: install
          command: |
            python -m venv venv || virtualenv venv
            . venv/bin/activate
            python setup.py sdist
            pip install $(ls dist/*.tar.gz)[testing]

      - run: &flake8
          name: flake8
          command: |
            . venv/bin/activate
            flake8 .

      - run: &mypy
          name: mypy
          command: |
            . venv/bin/activate
            mypy --ignore-missing-imports .
            mypy --py2 --ignore-missing-imports .

      - run: &tests
          name: tests
          command: |
            . venv/bin/activate
            pytest tests

  build-python27:
    docker:
      - image: circleci/python:2.7
    steps:
      [checkout, run: *install, run: *tests]

  build-python34:
    docker:
      - image: circleci/python:3.4
    steps:
      [checkout, run: *install, run: *tests]

  build-python35:
    docker:
      - image: circleci/python:3.5
    steps:
      [checkout, run: *install, run: *tests]

  run-examples:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout

      - run: *install

      - run: &examples
          name: run-examples
          command: |
            . venv/bin/activate
            for file in `find examples -name '*.py'`
            do
               python $file
            done

  run-examples-python27:
    docker:
      - image: circleci/python:2.7
    steps:
      [checkout, run: *install, run: *examples]

  run-examples-python34:
    docker:
      - image: circleci/python:3.4
    steps:
      [checkout, run: *install, run: *examples]

  run-examples-python35:
    docker:
      - image: circleci/python:3.5
    steps:
      [checkout, run: *install, run: *examples]
