version: 2

workflows:
  version: 2
  commit-build:
    jobs:
      - checks
      - tests-python36
      - tests-python35
      - tests-python34
      - tests-python27
  daily-build:
    triggers:
      - schedule:
          cron: "0 15 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - checks
      - tests-python36
      - tests-python35
      - tests-python34
      - tests-python27
      - examples-python36
      - examples-python35
      - examples-python34
      - examples-python27

jobs:

  # Lint and static type checking

  checks:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout

      - run: &install
          name: install
          command: |
            sudo apt-get update
            sudo apt-get -y install openmpi-bin libopenmpi-dev
            python -m venv venv || virtualenv venv
            . venv/bin/activate
            python setup.py sdist
            pip install $(ls dist/*.tar.gz)[circleci]

      - run:
          name: flake8
          command: |
            . venv/bin/activate
            flake8 .

      - run:
          name: mypy
          command: |
            . venv/bin/activate
            mypy --ignore-missing-imports .
            mypy --py2 --ignore-missing-imports .

  # Unit tests

  tests-python36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout

      - run: *install

      - run: &tests
          name: tests
          command: |
            . venv/bin/activate
            pytest tests
          environment:
            OMP_NUM_THREADS: 1

      - run: &tests-mn
          name: tests-mn
          command: |
            . venv/bin/activate
            mpirun -n 2 -- pytest tests/integration_tests/test_chainermn.py
          environment:
            OMP_NUM_THREADS: 1

  tests-python35:
    docker:
      - image: circleci/python:3.5
    steps:
      [checkout, run: *install, run: *tests, run: *tests-mn]

  tests-python34:
    docker:
      - image: circleci/python:3.4
    steps:
      [checkout, run: *install, run: *tests, run: *tests-mn]

  tests-python27:
    docker:
      - image: circleci/python:2.7
    steps:
      [checkout, run: *install, run: *tests, run: *tests-mn]

  # Examples

  examples-python36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout

      - run: *install

      - run: &install-examples
          name: install
          command: |
            . venv/bin/activate
            pip install chainer scikit-learn xgboost

      - run: &examples
          name: examples
          command: |
            . venv/bin/activate
            for file in `find examples -name '*.py' -not -name 'chainermn_mnist.py'`
            do
               python $file
            done
          environment:
            OMP_NUM_THREADS: 1

      - run: &examples-mn
          name: examples-mn
          command: |
            . venv/bin/activate
            STORAGE_URL=sqlite:///example.db
            STUDY_NAME=`optuna create-study --storage $STORAGE_URL`
            mpirun -n 2 -- python examples/chainermn_mnist.py $STUDY_NAME $STORAGE_URL
          environment:
            OMP_NUM_THREADS: 1

  examples-python35:
    docker:
      - image: circleci/python:3.5
    steps:
      [checkout, run: *install, run: *install-examples, run: *examples, run: *examples-mn]

  examples-python34:
    docker:
      - image: circleci/python:3.4
    steps:
      [checkout, run: *install, run: *install-examples, run: *examples, run: *examples-mn]

  examples-python27:
    docker:
      - image: circleci/python:2.7
    steps:
      [checkout, run: *install, run: *install-examples, run: *examples, run: *examples-mn]
