<!DOCTYPE html>
<html lang="en">
<head>
    <title>Optuna Visual Regression Tests</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body {
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .wrapper {
            padding: 64px;
            width: 600px;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.08) 0 8px 24px;
            margin: 0px auto;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <h1>Optuna Visual Regression Tests</h1>
    <ul>
        {% for text, link in pages %}
        <li><a href="{{ link }}">{{ text }}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
