name: Checks(Optioinal)

on:
  schedule:
    - cron: '0 23 * * SUN-THU'
  workflow_dispatch:

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install
      run: |
        python -m pip install -U pip
        pip install --progress-bar off -U .[checking]
        pip install --progress-bar off -U .[optional]

    - name: Output installed packages
      run: |
        pip freeze --all
    - name: Output dependency tree
      run: |
        pip install pipdeptree
        pipdeptree
    - name: mypy
      run: mypy .
    - name: blackdoc
      run: blackdoc . --check --diff
