name: Coverage

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:

  coverage:
    runs-on: ubuntu-latest

    # Not intended for forks.
    if: github.repository == 'optuna/optuna'

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Python3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Setup cache
      uses: actions/cache@v2
      env:
        cache-name: coverage
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/setup.py') }}-v1
        restore-keys: |
          ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/setup.py') }}

    - name: Setup environment
      run: |
        sudo apt-get update
        sudo apt-get -y install openmpi-bin libopenmpi-dev libopenblas-dev

    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install --use-deprecated=legacy-resolver --progress-bar off -U setuptools

        # Install minimal dependencies and confirm that `import optuna` is successful.
        pip install --use-deprecated=legacy-resolver --progress-bar off .
        python -c 'import optuna'
        optuna --version

        pip install --use-deprecated=legacy-resolver --progress-bar off .[tests]
        pip install --use-deprecated=legacy-resolver --progress-bar off .[optional]
        pip install --use-deprecated=legacy-resolver --progress-bar off .[integration] -f https://download.pytorch.org/whl/torch_stable.html
        pip install --use-deprecated=legacy-resolver --progress-bar off .[codecov]

    - name: Tests
      env:
        OMP_NUM_THREADS: 1
      run: |
        pytest --cov=optuna --cov-report=xml tests

    - name: Multi-node tests
      env:
        OMP_NUM_THREADS: 1
      run: |
        mpirun -n 2 -- pytest --cov=optuna --cov-report=xml --cov-append tests/integration_tests/test_chainermn.py

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
