name: stale

on:
  schedule:
    - cron: '0 23 * * SUN-THU'

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v1.1.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has not seen any recent activity.'
        stale-pr-message: 'This pull request has not seen any recent activity.'
        days-before-stale: 14
        days-before-close: -1
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
